<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css">
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>Accueil</title>
  </head>
  <body>
	<!-- Nav BAR -->
	<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
	  <div class="container-fluid">
	    <a class="navbar-brand" href="#" style="color: white; font-weight: bold;">Système de Gestion de Bibliothéque</a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarColor01">
	      <ul class="navbar-nav me-auto">
	        <li class="nav-item">
	          <a class="nav-link active" href="Accueil.html" style="color: white; font-weight: bold;margin-left:30px;">Accueil
	            <span class="visually-hidden">(current)</span>
	          </a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="#" style="color: white; font-weight: bold;">About</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="/src/main/resources/templates/Inscription.html" style="color: white; font-weight: bold;">S'inscrire</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="#" style="color: white; font-weight: bold;">Se Connecter</a>
	        </li>
	      </ul>
	      <form class="d-flex">
	        <input class="form-control me-sm-2" type="search" placeholder="Rechercher">
	        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Rechercher</button>
	      </form>
	    </div>
	  </div>
	</nav>
	<!-- End Nav Bar -->
	         <style>
	               body{
	                    background-image:url(templates/photo.jpg);
	               }
	
	         </style>
	    <div style="margin-top:100px">
	       <div class="container mt-3 bg-light rounded">
	           <h1 class="text-bg-light pt-4" style="text-align:center;color:green">Bienvenue Sur Système Gestion de Bibliothéque </h1>
	           <hr>
	           <br>
	           <p class="text-bg-light" style="font-weight:bold;font-size:24px;color:Black">
				Notre application assiste le bibliothécaire dans la gestion efficace de la bibliothèque. Il peut ajouter de nouveaux titres, gérer les exemplaires, enregistrer les adhérents, gérer les prêts et les réservations, et appliquer des sanctions en cas de retard. L'interface conviviale facilite la mise à jour des informations relatives aux livres, aux emprunteurs et aux prêts.
	           </p>
	           <br>
	           <p>
	
	             <a class="btn btn-success" href="" style="margin-left:490px"> Voir Plus </a>
	
	           </p>
	
	       </div>
	    </div>
	
  </body>
</html>